*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navegador{
    position: relative;
    bottom: 20px;
    right: 10px;
    height: 100px;
    width: 1545px;
    box-shadow: 0px 5px 800px 0px black;
    background-color: white;
}
#titulo{
    position: relative;
    top: 20px;
    left: 15px;
    width:30%;
}
button{
    border: none;
    border-radius: 10px;
    background-color: #3e64c4;
    color: white;
    width: 100px;
    height: 40px;
}