*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border: none;
    border-radius: 20px;
    background-color: #3e64c4;
    height: 50px;
    width: 100px;
    color: white;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 100px black;
    z-index: 1;
}