.descricao{
    background-color: greenyellow;
    width: 78vh;
    height: 30vh;
    border-radius: 20px;
}
iframe{
    position: relative;
    left: 10%;
    height: 80vh;
    width: 80%;
    border:none;
    border-radius: 20px;

}