.main{
    margin: 0;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition:background-image 1s ease-in-out;
}
.conteiner_mensagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}
.botoes{
    text-align: right;
    position: absolute;
    top: 25px;
    right: 10px;      
}
#entrar:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
#cadas:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
