.login{
    margin: 0;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition:background-image 1s ease-in-out;
}
.conteiner_forms{
    display: flex;
    position: relative;
    z-index: 1;
    top: 15vh;
    flex-direction: column;
    background-color: white;
    width: 70vh;
    height: 80vh;
    border-radius: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 0px black;
}
.form{
    position: relative;
    bottom: 50px;
    width: 50vh;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(192, 191, 191);
}
input{
    font-size: 18px;
    padding: 10px;
    border: none;
}
#entrar{
    position: relative;
    font-size: 20px;
    width:120px;
    height:45px;
    top: 20px;
}
#entrar:hover{
    cursor: pointer;
    background-color: black;
}