.main{
    margin: 0;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition:background-image 1s ease-in-out;
}
.botoes{
    text-align: right;
    position: relative;
    bottom: 35px;
    position: relative;
    right: 10px;       
}