.main{
    margin: 0;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition:background-image 1s ease-in-out;
}
.botoes{
    text-align: right;
    position: absolute;
    top: 25px;
    right: 10px;      
}
#entrar:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
#cadas:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
