iframe{
    position: absolute; /* Use absolute or relative positioning */
    top: 96px;         /* Position it 100px from the top (below the fixed bar) */
    left: 15%;
    width: 70%;        /* Use 100% of the viewport width */
    height: calc(100vh - 100px); /* Use the total height minus the bar height */
    border-radius: 20px;
}
.descricao{
    position: relative;
    top: 90vh;
    left: 24%;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px black;
}
