iframe{
    position: absolute; 
    top: 15vh;        
    left: 15%;
    width: 70%;
    height: 70vh; 
    border-radius: 20px;
}
.descricao{
    position: relative;
    top: 90vh;
    left: 24%;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px black;
}