#opcoes{
    width:300px;
    height:200px;
    margin-top: 20vh;
    margin-left: 30px;
    border-radius: 10px;
}
input[type="img"]{
    border: none;
}
#opcoes:hover{
    cursor: pointer;
    opacity: 0.8;
}
#pop {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, 0.6);
    justify-content: center;
    align-items: center;
}
.texto{
    position: relative;
    bottom:30%;
    left: 120px;
    background-color: white;
    width: 90vh;
    height: 70vh;
    padding: 20px;
    padding-left: 800px;
}
#horto{
    position: relative;
    z-index: 1;
    top: 30%;
    right: 35vh;
}
#fechar {
    position: relative;
    bottom: 23%;
    left: 90%;
    background-color: red;
    color: white;
    z-index: 1;
    width: 50px;
}
#fechar:hover{
    background-color: black;
    color: white;
}
#visitar{
    position: relative;
    top: 30%;
    left: 55%;
    z-index: 1;
    width: 500px;
}
#visitar:hover{
    background-color: black;
    color: white;
}
